{% extends 'base.html.twig' %}

{% block title %}The District | Panier
{% endblock %}

{% block body %}
	<div class="container-fluid ctn_plats_cat mb-2 ">
		<h1>Voici votre Panier |{{user.prenom}}
			{{user.Nom}}</h1>
	</div>
{% endblock %}
